body {
  background-color: #e7dadb;
  opacity: 0.95;
}
main {
  background-color: whitesmoke;
}
img {
  width: 100%;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/Koto_musician_painting_by_Hasegawa_1878.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding: 60px 50px;
  font-family: "Dancing Script", cursive;
}

.emoji {
  font-size: 8px;
}
header h3 {
  padding-top: 70px;
  font-size: 40px;
  margin: 30px;
  color: white;
}
h1 {
  font-size: 96px;
  margin: 0;
}
header h2 {
  font-size: 64px;
  margin: 30px;
}
.learn-button {
  margin: 30px;
  padding: 7px 20px;
  border-radius: 30px;
  border: 1px solid pink;
  font-size: 36px;
  font-family: "Dancing Script", cursive;
  font-weight: 700px;
  color: white;
  background: #866c69;
}
header a {
  text-decoration: none;
  color: white;
}
h2 {
  font-size: 36px;
  line-height: 1;
  margin: 10px 0;
}
h3 {
  margin: 10px 0;
  font-size: 24px;
  line-height: 1;
  color: #866c69;
}
p {
  font-size: 16px;
  text-align: justify;
}
p a {
  text-decoration: none;
  color: #866c69;
}
section {
  padding: 50px 100px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.section-one .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

footer a {
  color: white;
}
footer {
  background-image: linear-gradient(
      rgba(134, 108, 105, 0.6),
      rgba(134, 108, 105, 0.6)
    ),
    url(../images/birmingham-museums-trust-BPWZ01FtySg-unsplash.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 18px;
}

footer .grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 20px;
  padding: 60px 40px;
}
footer .grid h3 {
  font-size: 24px;
  padding: 0;
  margin: 0;
  color: white;
}
footer .grid p {
  font-size: 18px;
  text-align: justify;
}
footer .grid-column {
  padding: 0px 20px;
}
@media (max-width: 800px) {
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 32px;
  }
  header h3 {
    font-size: 20px;
    margin: 10px;
  }
  .learn-button {
    font-size: 20px;
  }
  header {
    background-size: auto;
    padding: 30px;
  }
  section {
    padding: 20px 40px;
  }
  .section-one .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  section h2 {
    font-size: 24px;
  }
  footer,
  section h3 {
    font-size: 20px;
    padding: 0;
    margin: 0;
  }
  footer,
  section p {
    font-size: 16px;
    text-align: justify;
  }
  footer .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}
